{% extends 'authorization/base_login.html' %}
{% block content %}
    <span class="login100-form-title p-b-96">
		<h1>Thank you for cooperation!!!</h1>
	</span>
    <div class="flex-col-c p-b-50">
		<div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <a href="{% url 'login' %}" class="login100-form-btn" role="button">I want to login again</a>
            </div>
        </div>
	</div>
    <div class="flex-col-c p-b-150">
		<div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <a href="http://ksad.com.pl/" class="login100-form-btn" role="button">Return to Main page</a>
            </div>
        </div>
	</div>
{% endblock %}