{% extends 'layouts/base.html' %}
{% block content %}
		<!-- Heading -->
			<div id="heading" >
				<h1>Welcome to your personal office!</h1>
			</div>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">

					<!-- Elements -->
						<div class="row">
							<div class="col-6 col-12-medium">

								<!-- Text -->
									<h3>Data</h3>
									<p>Here will be your personal information</p>

							</div>
						</div>
					</div>
				</div>
			</section>
{% endblock %}